# Python / Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Apache Airflow & Spark
airflow-webserver.pid
airflow.db
logs/
spark-warehouse/
metastore_db/

# Google Cloud / Security (Never push keys!)
*.json
*.pem
secrets/

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Ignore local video recordings
03_Recordings/
*.mp4
*.mkv